@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
html, body {
    overflow-x: hidden !important;
}
body {
    color: white;
    background: linear-gradient(90deg, #2d2d2d, #000);
    margin: 0px;
    font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}

header {
    border-bottom: solid 2px rgb(228 42 140);
    padding: 20px;
    font-size: 32px;
    color: rgb(228 42 140)
;
    background: linear-gradient(90deg, #2d2d2d, #000);
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 999;
    transition: .5s ease-in-out;
}
header.onScroll {
    background: linear-gradient(90deg, #2d2d2d, #000);
    color: rgb(228 42 140);
    border-color: rgb(228 42 140);
}

.chamada {
    background: linear-gradient(90deg, rgb(228 42 140), rgb(228 42 90));
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chamada h2 {
    font-weight: 300;
}

.chamada-texto {
    width: 40%;
    margin-right: 5%;
}
.chamada-texto * {
    margin: 18px 0;
}
.chamada-img {
    width: 60%;
}

.chamada-img iframe {
    aspect-ratio: 16 / 9;
}

.chamada-canal {
    display: flex;
    align-items: center;
    gap: 16px;
}
.chamada-canal .img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 50px;
    overflow: hidden;
}
.chamada-canal .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    margin: auto;
}
.chamada-canal .text {
    display: flex;
    flex-direction: column;
}
.chamada-canal .text p {
    margin: 0;
}
.chamada-canal .text p:last-child {
    font-weight: 300;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 21px;
    padding: 21px 0;
}
.categoria-videos::-webkit-scrollbar {
    background-color: rgb(228 42 90);
    height: 4px;
}
.categoria-videos::-webkit-scrollbar-thumb {
    background-color: rgb(228 42 140);
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria h2 {
    text-transform: uppercase;
}

.categoria-videos img {
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: 250ms ease-in-out;
}

.categoria-videos img:hover {
    opacity: .7;
    transform: scale(1.1);
}

.categoria h2 {
    color: rgb(228 42 140);
}
